* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	/* background: #000; */
	background: url('./green.jpg');
	font-family: 'Times New Roman', Times, serif;
}
.main-container {
	max-width: 960px;
	margin: 0 auto;

	color: #f3f3f3;
	padding-top: 1rem;
}
nav,
header,
nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
nav {
<<<<<<< HEAD
	align-self: flex-end;
=======
	-ms-flex-item-align: end;
	    align-self: flex-end;
>>>>>>> 05b202b6a7ffc771cebcbe646948813afa383b1f
	/* max-height: 55px; */
}
header {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
nav ul {
	list-style: none;
}
nav ul li {
	margin-right: 10px;
	-webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
}
.nav_link {
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
}
.nav_link:hover {
	background: #cacaca;
}
.call {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header_text {
	font-weight: 900;
	font-size: 2rem;
	color: #424242;
}
.header_text a {
	text-decoration: none;
	color: inherit;
	font-weight: 600;
}
main .hero {
	min-height: 352px;
	width: 100%;
	/* background: url('./header.jpg'); */
	background-position: center;
	/* background-repeat:; */
	background-size: contain;
	border-top: 10px solid #c8c8c8;
	border-bottom: 10px solid #c8c8c8;
}
.hero img{
	width: 100%;
	display: block;
	height: 100%;
}
/* content */
.content .title {
	text-align: center;
	margin-top: 2rem;
	font-weight: 600;
	line-height: 30px;
	font-size: 2rem;
	color: #002800;
	font-style: italic;
}
.content_desc {
	margin-top: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.content_desc p {
	text-align: justify;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #333;
	padding: 1rem;
}
.content_desc img {
	background: #fff;
	border: 5px solid #c8c8c8;
}
.content_quotes {
	padding: 2rem;
	font-size: 2rem;
	margin-top: 2rem;
	color: #333;
	text-align: center;
}

footer {
	text-align: center;
	font-size: 1.3rem;
	padding: 2rem 1rem;
}
footer a {
	text-decoration: none;
}

.service_title {
	border-top: 10px solid #c8c8c8;
	font-weight: 900;
	color: #404040;
	font-size: 2rem;
	line-height: 1.5;
}
.services_description {
	font-size: 1.5rem;
	color: #404040;
	text-align: justify;
	margin-top: 2rem;
}
.services_description p:not(:first-child) {
	text-align: center;
	margin-top: 2rem;
}
.collage,
.description {
	margin-top: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #404040;
	font-size: 2rem;
}
.testimonials .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 1rem 0 0;
}
.testimonial_desc {
	padding: 1rem 2rem;
	color: #404040;
	font-size: 1.2rem;
}
.testimonial_desc p:not(:first-child) {
	margin-top: 2rem;
}
.contact {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.contact .form {
	min-width: 45%;
	border-radius: 5%;
}
.contact_info {
	border-radius: 2%;
	width: 45%;
	background: #efeff0;
	padding: 1rem;
	max-height: 460px;
}
.info {
	text-align: center;
	padding: 2rem;
	font-size: 1.6rem;
	color: #404040;
	font-weight: 900;
	font-weight: 600;
}
.contact_img {
	color: #404040;
	font-size: 1.2rem;
	font-weight: 600;
}
.toggle{
	display: none;
}
@media (max-width: 900px) {
	.toggle {
		display:inline-block;
		padding: 1rem ;
		//background: #000;
	//	-webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	//	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	}
	ul[data-js=menu-ul]{
	 	display:none;
	
	}
	.toggle .fa{
		width:40px;
		height:40px;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size: 2rem;
		background: #ffff;
	//	border:2px solid #333;
	-webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	}
	main{
		padding: 1rem 0.5rem ;
	}
	nav,
	header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column;
		        flex-direction: column;
		/* justify-content: flex-end; */
		//min-height: 30vh;
	}
	nav {
		margin-top:-1rem%;
		margin-bottom: 1rem;
		width: 100%;
		max-height: auto;
	}
	nav ul {
		max-width: 100%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.testimonials .item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}
	main .hero {
		min-height: 170px;
	}
	.hero img{
		min-height: 170px;
	}
	.content_desc {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.services_description {
		padding: 2rem 1rem;
	}
	.collage,
	.description {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 1rem;
	}
	.contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contact_info {
		margin-top: 2rem;
		width: 100%;
	}
	nav ul li{

		width: 45%;
		margin-top: 1rem;
	}
	.item ul {
		list-style: none;
	}
	.item img {
		width: 100%;
		margin-top: 1rem;
	}
	.contact_img img {
		width: 100%;
		display: block;
	}
	ul.active{
		display:flex;
	}
	.header_text a{
	
	font-size:1.5rem;
	}
}